.git
.idea
.env
node_modules
vendor
public/css
public/fonts
public/js
public/leaf
public/arbory
public/storage
public/assets
public/mix-manifest.json
public/vendor
public/front
storage/logs/*
storage/app/*
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
